<!DOCTYPE html>
<html>
    <head>
        Erregistroa
    </head>
    <body>
        <div class="Formularioa">
            <form action="../config/register.php" method="POST">
                <h1> 
                    ERREGISTROA 
                </h1>
                <p>
                    <label for="Izena"> Izena </label>
                    <input type="text" name="izena" value="Zure izena sartu">
                </p>
                <!-- <p>
                    <label for="Abizenak"> Abizenak </label>
                    <input type="text" name="abizenak" value="Zure abizenak sartu">
                </p> -->
                <p>
                    <label for="NAN"> NAN </label>
                    <input type="text" name="nan" value="Zure NAN-a sartu">
                </p>
                <!-- <p>
                    <label for="Jaiotze data"> Jaiotze data </label>
                    <input type="text" name="jaiotze data" value="Zure jaoitze data sartu">
                </p>
                <p>
                    <label for="Email"> Email </label>
                    <input type="text" name="email" value="Zure email-a sartu">
                </p>
                <p> -->
                    <button type="submit">
                        <img src="../img/enviar.png">
                    </button>
                    <button type="reset">
                        <img src="../img/borrar.png">
                    </button>
                </p>
            </form>
        </div>
    </body>
</html>